
*.tar
*.class
*.cache
Spark_deployment/KMeans/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/inputs
Spark_deployment/KMeans/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/output
Spark_deployment/KMeans/project/target/streams/_global/_global/_global/streams/out
Spark_deployment/KMeans/project/target/streams/_global/csrConfiguration/_global/streams/out
Spark_deployment/KMeans/project/target/streams/_global/csrProject/_global/streams/out
Spark_deployment/KMeans/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
Spark_deployment/KMeans/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
Spark_deployment/KMeans/project/target/streams/_global/ivyConfiguration/_global/streams/out
Spark_deployment/KMeans/project/target/streams/_global/ivySbt/_global/streams/out
Spark_deployment/KMeans/project/target/streams/_global/moduleSettings/_global/streams/out
Spark_deployment/KMeans/project/target/streams/_global/projectDescriptors/_global/streams/out
Spark_deployment/KMeans/project/target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
Spark_deployment/KMeans/project/target/streams/_global/update/_global/streams/out
Spark_deployment/KMeans/project/target/streams/compile/_global/_global/compileOutputs/previous
Spark_deployment/KMeans/project/target/streams/compile/_global/_global/discoveredMainClasses/data
Spark_deployment/KMeans/project/target/streams/compile/bspReporter/_global/streams/out
Spark_deployment/KMeans/project/target/streams/compile/compile/_global/streams/out
Spark_deployment/KMeans/project/target/streams/compile/compileIncremental/_global/streams/export
Spark_deployment/KMeans/project/target/streams/compile/compileIncremental/_global/streams/out
Spark_deployment/KMeans/project/target/streams/compile/copyResources/_global/streams/copy-resources
Spark_deployment/KMeans/project/target/streams/compile/copyResources/_global/streams/out
Spark_deployment/KMeans/project/target/streams/compile/dependencyClasspath/_global/streams/export
Spark_deployment/KMeans/project/target/streams/compile/exportedProducts/_global/streams/export
Spark_deployment/KMeans/project/target/streams/compile/externalDependencyClasspath/_global/streams/export
Spark_deployment/KMeans/project/target/streams/compile/incOptions/_global/streams/out
Spark_deployment/KMeans/project/target/streams/compile/internalDependencyClasspath/_global/streams/export
Spark_deployment/KMeans/project/target/streams/compile/internalDependencyClasspath/_global/streams/out
Spark_deployment/KMeans/project/target/streams/compile/managedClasspath/_global/streams/export
Spark_deployment/KMeans/project/target/streams/compile/scalacOptions/_global/streams/out
Spark_deployment/KMeans/project/target/streams/compile/unmanagedClasspath/_global/streams/export
Spark_deployment/KMeans/project/target/streams/compile/unmanagedClasspath/_global/streams/out
Spark_deployment/KMeans/project/target/streams/compile/unmanagedJars/_global/streams/export
Spark_deployment/KMeans/project/target/streams/runtime/dependencyClasspath/_global/streams/export
Spark_deployment/KMeans/project/target/streams/runtime/exportedProducts/_global/streams/export
Spark_deployment/KMeans/project/target/streams/runtime/externalDependencyClasspath/_global/streams/export
Spark_deployment/KMeans/project/target/streams/runtime/fullClasspath/_global/streams/export
Spark_deployment/KMeans/project/target/streams/runtime/internalDependencyClasspath/_global/streams/export
Spark_deployment/KMeans/project/target/streams/runtime/internalDependencyClasspath/_global/streams/out
Spark_deployment/KMeans/project/target/streams/runtime/managedClasspath/_global/streams/export
Spark_deployment/KMeans/project/target/streams/runtime/unmanagedClasspath/_global/streams/export
Spark_deployment/KMeans/project/target/streams/runtime/unmanagedClasspath/_global/streams/out
Spark_deployment/KMeans/project/target/streams/runtime/unmanagedJars/_global/streams/export
Spark_deployment/KMeans/src/.DS_Store
Spark_deployment/KMeans/src/main/.DS_Store
Spark_deployment/KMeans/target/.DS_Store
Spark_deployment/KMeans/target/scala-2.11/.DS_Store
Spark_deployment/KMeans/target/scala-2.11/kmeans_2.11-0.1.jar
Spark_deployment/KMeans/target/scala-2.11/update/update_cache_2.11/inputs
Spark_deployment/KMeans/target/scala-2.11/update/update_cache_2.11/output
Spark_deployment/KMeans/target/scala-2.11/zinc/inc_compile_2.11.zip
Spark_deployment/KMeans/target/streams/.DS_Store
Spark_deployment/KMeans/target/streams/_global/_global/_global/streams/out
Spark_deployment/KMeans/target/streams/_global/csrConfiguration/_global/streams/out
Spark_deployment/KMeans/target/streams/_global/csrProject/_global/streams/out
Spark_deployment/KMeans/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.11/input_dsp
Spark_deployment/KMeans/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.11/output_dsp
Spark_deployment/KMeans/target/streams/_global/ivyConfiguration/_global/streams/out
Spark_deployment/KMeans/target/streams/_global/ivySbt/_global/streams/out
Spark_deployment/KMeans/target/streams/_global/moduleSettings/_global/streams/out
Spark_deployment/KMeans/target/streams/_global/projectDescriptors/_global/streams/out
Spark_deployment/KMeans/target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
Spark_deployment/KMeans/target/streams/_global/update/_global/streams/out
Spark_deployment/KMeans/target/streams/compile/_global/_global/compileOutputs/previous
Spark_deployment/KMeans/target/streams/compile/_global/_global/discoveredMainClasses/data
Spark_deployment/KMeans/target/streams/compile/bspReporter/_global/streams/out
Spark_deployment/KMeans/target/streams/compile/compile/_global/streams/out
Spark_deployment/KMeans/target/streams/compile/compileIncremental/_global/streams/export
Spark_deployment/KMeans/target/streams/compile/compileIncremental/_global/streams/out
Spark_deployment/KMeans/target/streams/compile/copyResources/_global/streams/copy-resources
Spark_deployment/KMeans/target/streams/compile/copyResources/_global/streams/out
Spark_deployment/KMeans/target/streams/compile/dependencyClasspath/_global/streams/export
Spark_deployment/KMeans/target/streams/compile/externalDependencyClasspath/_global/streams/export
Spark_deployment/KMeans/target/streams/compile/incOptions/_global/streams/out
Spark_deployment/KMeans/target/streams/compile/internalDependencyClasspath/_global/streams/export
Spark_deployment/KMeans/target/streams/compile/internalDependencyClasspath/_global/streams/out
Spark_deployment/KMeans/target/streams/compile/mainClass/_global/streams/out
Spark_deployment/KMeans/target/streams/compile/managedClasspath/_global/streams/export
Spark_deployment/KMeans/target/streams/compile/packageBin/_global/streams/inputs
Spark_deployment/KMeans/target/streams/compile/packageBin/_global/streams/out
Spark_deployment/KMeans/target/streams/compile/packageBin/_global/streams/output
Spark_deployment/KMeans/target/streams/compile/scalacOptions/_global/streams/out
Spark_deployment/KMeans/target/streams/compile/unmanagedClasspath/_global/streams/export
Spark_deployment/KMeans/target/streams/compile/unmanagedClasspath/_global/streams/out
Spark_deployment/KMeans/target/streams/compile/unmanagedJars/_global/streams/export
